* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#moviesList {
  padding-left: 2%;
  font-size: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 20px auto 0; /* Pushed down by 20 pixels and centered horizontally */
  display: flex; /* Added to make the container a flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the cross axis */
}

.movielist-item {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the cross axis */
  margin-bottom: 20px; /* Add some space between movie items */
 }
 
 .movie-details {
  display: flex;
  align-items: flex-start; /* Align children to the start of the cross axis */
  justify-content: space-between; /* Space out the children */
  margin-top: 10px; /* Add some space between the movie details and the title/year/ID */
 }

#search-box {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align items on the bottom */
  margin-top: 40px; /* Push down by 100 pixels */
}

#search-box #input {
  display: inline-block; /* Ensures the input container is displayed as inline-block */
  margin-right: 10px; /* Add some space between input and button */
}

#searchInput {
  font-size: 2rem; /* Twice as large font size */
  height: 40px; /* Increased height for the text box */
  width: 400px; /* Adjust width as needed */
}

#search-button {
  font-size: 2rem;
  height: 40px; /* Double the height of the button */
  width: 120px; /* Adjust width as needed */
}

#div-img, #div-button {
  display: inline-flex;
  padding: 2px;
}

#write-button {
  margin-left: 10px;
}

#Movie-List-Heading {
  color: rgb(90, 42, 95);
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  margin-top: 20px; /* Push down by 100 pixels */
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 10px;
}

p {
  color: rgb(00, 00, 00);
  padding-left: 2em;
}

#Welcome {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  margin-top: 40px; /* Push down by 100 pixels */
  margin-bottom: 40px;
}
