.container {
  display: flex;
  text-align: left;
  padding: 2rem;
  height: 80vh;
}

.review-info {
  margin-right: 20px; /* Add some spacing between the movie info and the form/review */
}

.review-form {
  width: 50%; /* Make the form/review take up half of the container */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto; /* Align bottom of form/review with bottom of container */
  margin-bottom: 5vh; /* Add 5% margin to the bottom */
}

.submitted-review {
  margin-top: 20px; 
  height: 80vh;
}

#movie {
  margin-right: 20px; /* Add some spacing between the movie info and the form/review */
  margin-bottom: 20px;
  align-self: flex-end; /* Align the movie info to the bottom */
}

button {
  margin-top: auto; /* Align the button to the bottom */
  margin-bottom: 20px;
}

img {
  height: 60vh; /* Set the height of the image to 60% of the viewport height */
  margin-bottom: 20px;
}

.submitted-review p {
  text-align: left; /* Justify the text to the left */
}
