/* TopNav.css */

.TopNav {
  flex: 2;
}

.TopNav ul {
  height: 100%;
  display: flex;
  background-color: rgb(166, 148, 247);
  align-items: center;
  padding-left: 10px; /* Add left padding to the nav container */
  padding-right: 10px; /* Add right padding to the nav container */
}

.TopNav ul li {
  list-style: none;
}

.TopNav ul li:first-child a {
  margin-left: 10px; /* Add left margin to the first nav item */
}

.TopNav ul li:last-child a {
  margin-right: 10px; /* Add right margin to the last nav item */
}

.TopNav ul li a {
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}

.TopNav ul li a:hover {
  color: #e4ecf2;
}

.LogIn-Button {
  height: 40px;
  display: flex;
  align-items: center; /* Center vertically */
  margin-right: auto; /* Push the button to the left */
}

/* Space other items evenly */
.TopNav ul li:not(:last-child) {
  margin-right: auto;
}

.TopNav ul li a.active {
  color: #e4ecf2;
  font-weight: bold; /* Optionally, make it bold */
}
